{% extends "base.html" %} {% block content %}
<h1
  class="mb-4 text-3xl font-extrabold text-gray-900 dark:text-white md:text-5xl lg:text-6xl text-center mt-3"
>
  Exercises
</h1>
<!-- component -->
<div class="flex justify-end mr-3">
  <a
    class="bg-green-600 text-white font-serif font-bold rounded-md border border-green-600 px-3 py-2 cursor-pointer hover:bg-white hover:text-green-600"
    href="{% url 'get-edit-exercises' %}"
  >
    Create
  </a>
</div>
<section class="container mx-auto p-6 font-mono">
  <div class="w-full mb-8 overflow-hidden rounded-lg shadow-lg">
    <div class="w-full overflow-x-auto">
      <table class="w-full">
        <thead>
          <tr
            class="text-md font-semibold tracking-wide text-left text-gray-900 bg-gray-100 uppercase border-b border-gray-600"
          >
            <th class="px-4 py-3">No</th>
            <th class="px-4 py-3">Name</th>
            <th class="px-4 py-3">Description</th>
            <th class="px-4 py-3">Focus</th>
            <th class="px-4 py-3">GIF</th>
            <th class="px-4 py-3 w-4">Options</th>
          </tr>
        </thead>
        <tbody class="bg-white">
          {% for exercise in exercise_list %}
          <tr class="text-gray-700">
            <td class="px-4 py-3 border">{{ forloop.counter }}</td>
            <td class="px-4 py-3 border">
              <div class="flex items-center text-sm">
                <div>
                  <p class="font-semibold text-black">{{exercise.name}}</p>
                </div>
              </div>
            </td>
            <td class="px-4 py-3 text-ms font-semibold border">
              {{exercise.desc}}
            </td>
            <td class="px-4 py-3 text-xs border">
              <span
                class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-sm"
              >
                {{exercise.focus}}
              </span>
            </td>
            <td class="px-4 py-3 text-sm border">
              <div class="relative w-12 h-12 mr-3 md:block">
                <img
                  class="object-cover w-full h-full"
                  src="../../media/{{exercise.gif}}"
                  alt=""
                  loading="lazy"
                />
              </div>
            </td>
            <td class="px-4 py-3 text-sm border">
              <div class="">
                <a>Edit</a>
                <hr class="w-full" />
                <a>Delete</a>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</section>

{% endblock content %}
